* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
}

@font-face {
  font-family: 'Vollkorn-Regular';
  src: url('../fonts/Vollkorn-Regular.otf');
}

@font-face {
  font-family: 'NotoSans-Regular';
  src: url('../fonts/NotoSans-Regular.otf');
}

@font-face {
  font-family: 'NotoSans-Light';
  src: url('../fonts/NotoSans-Light.otf');
}

@font-face {
  font-family: 'Literata-Regular';
  src: url('../fonts/Literata-Regular.otf');
}

body {
  font-family: 'NotoSans-Regular';
  background-color: #262626;
  overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Literata-Regular';
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input {
  outline: none;
}

ol,ul{
  margin-bottom: 0px;
  padding-left: 0rem;
}

/* Header */
header {
  position: sticky;
  top: 0;
  width: 100vw;
  max-width: 100%;
  margin: 0 auto;
  z-index: 10;
}

nav.navegacion {
  width: 100%;
  height: auto;
  min-width: 320px;
  background: #262626;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.45);
}

.navegacion__cont{
  width: 96%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em;
}

@media (max-width:1024px)  {
  .navegacion__cont{
    width: 100%;
  }
}

.navegacion__cont_logotipo {
  display: flex;
  cursor: pointer;
}

.navegacion__cont_logotipo .class_logo {
  position: relative;
  width: 12em;
}

@media (max-width:1500px) {
  .navegacion__cont_logotipo .class_logo{
    width: 11em;
  }
}

nav ul {
  display: flex;
  align-items: center;
  gap: 40px;
}

.navegacion__cont_nav {
  list-style: none;
  width: 38%;
  font-family: 'Vollkorn-Regular';
  font-size: 1.375rem;
}

ul li a {
  color: #F1BF7B;
  text-decoration: none;
}

.navegacion__cont_item{
  padding-top: 5px;
}

.navegacion__cont_iconos_nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
}
@media (max-width:1500px){
  .navegacion__cont_iconos_nav{
    display: none;
  }
  .navegacion__cont_nav{
    display: none;
    font-size: 1rem;
  }
}

.navegacion__cont_iconos_nav--busqueda {
  width: 14em;
}

#search_text {
  display: inline-block;
  width: 100%;
  height: 32px;
  padding: 10px;
  border-radius: 20px;
  font-size: 0.9rem;
  background-color: #FBEED9;
  box-shadow: none;
}

.wh_iconos {
  width: 32px;
}

/* Menu */
.navegacion__cont_item-a{
  --clip_p: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

.navegacion__cont_item-a::after{
  content: "";
  display: block;
  background: #fbeed9;
  margin-top: 3px;
  padding-bottom: 2.5px;
  clip-path: var(--clip_p);
  transition: clip-path .4s;
}

.navegacion__cont_item-a:hover{
  --clip_p:polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

a:hover{
  color: #fbeed9;
}

/* Icono del menu y input donde hay un checkbox */
.navegacion__cont_label, .navegacion__cont_input{
  display: none;
}

@media (max-width:1500px) {
  .navegacion__cont_label{
  display: block;
  cursor: pointer;
  }
  .navegacion__cont_nav{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: fixed;
    top: 80px;
    bottom: 0;
    background: #262626;
    width: 100%;
    left: 0;
    align-items: center;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .navegacion__cont_input:checked + .navegacion__cont_nav{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    overflow: hidden;
  }
}

  
/* .navegacion__cont_iconos_nav{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
} */

/* Fin de Header */

/* Main */
.main_cont{
  width: 100%;
  height: 100dvh;
  max-width: 100%;
  min-width: 320px;
  position: relative;
}

.main_cont__bg-gradient{
  width: 100%;
  height: 100dvh;
  background-image: linear-gradient(to top, #262626, transparent);
  position: absolute;
  top: 0;
  left: 0;
}

.main_cont__img-portada {
  background-image: url(../img/imgs_pag_index/portada.png);
  background-size: cover;
  background-attachment: fixed;
  background-position: 54% 20%;
  width: 100%;
  height: 100dvh;
  display: flex;
}

.main_cont__txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5em;
  gap: 2em;
  z-index: 2;
}
@media screen and (min-width: 320px) {
  .main_cont__txt{
    margin: 20em auto 8em;
    gap: 1em;
  }
}
@media screen and (min-width: 768px) {
  .main_cont__txt{
    margin-left: 2em;
  }
}

@media screen and (min-width: 1024px) {
  .main_cont__txt{
    margin-left: 3em;
  }
}

@media screen and (min-width:1760px) {
  .main_cont__txt{
    margin-left: 4em;
  }
}

.main_cont__txt_ft3-Regular {
  font-family: 'Literata-Regular';
  line-height: normal;
}

.main_cont__txt__c--primary{
  color: #f1bf7b;
}

.main_cont__txt__c--secundary{
  color: #fbeed9;
}

.main_cont__txt_ft1 {
  font-family: 'Vollkorn-Regular';
}

.main_cont__txt_ft2-light {
  font-family: 'NotoSans-Light';
}

.main_cont__btn {
  width: 16em;
  height: 3.45em;
  padding: 20px 40px;
  border-radius: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  gap: 8px;
}

@media screen and (max-width: 768px){
  .main_cont__btn{
    width: 14em;
  }
}

@media screen and (max-width: 1024px){
  .main_cont__btn{
    width: 15em;
  }
}

.main_cont__btn--text {
  font-size: 1.25rem;
  font-weight: 600;
}

@media screen and (max-width: 620px){
  .main_cont__btn--text{
    font-size: 1.10rem;
  }
}

@media screen and (max-width: 768px){
  .main_cont__btn--text{
    font-size: 1.10rem;
  }
}

.main_cont__btn--primary {
  background-color: #fbeed9;
  color: #262626;
}

.main_cont__btn--secondary {
  border: 1px solid #f1bf7b;
  color: #f1bf7b;
}

.icon-descarga {
  width: 1.2em;
  height: auto;
  fill: #f1bf7b;
}

.main_cont__btn:hover {
  background-color: #f1bf7b;
  color: #262626;
  font-weight: 600;
  box-shadow: 0 1px 3px 0 rgba(241, 191, 123,.25), 0 4px 8px 3px rgba(241, 191, 123,.15);
  svg{
    fill: #262626;
  }
}

.icon_whatsapp_fixed {
  display: inline-block;
  width: 64px;
  height: 64px;
  position: fixed;
  right: 20px;
  bottom: 30px;
  border-radius: 100%;
  z-index:4;
  border: 1px solid #29a71a;
  box-shadow: 0 1px 3px 0 rgba(41, 167, 26,.35), 0 4px 8px 3px rgba(41, 167, 26,.2);
}

/* Fin de Main */

/*  Footer */
footer {
  background-color: #262626;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.45);
}

.pie_pag {
  width: 100vw;
  padding: 4em 4.5% 3em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

@media (min-width:0px) and (max-width:768px){
  .pie_pag{
    display: flex;
    flex-flow: column wrap;
    padding: 4em 8.5% 2em;
  }
}

.pie_pag ul {
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 0;
}

.pie_pag ul .link_secc a {
  display: flex;
  cursor: pointer;
  align-items: center;
}

/* Contenido 1 pie pag */
.pie_pag__cont1 {
  width: 28%;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
}

h3 {
  font-family: "Vollkorn-Regular";
  color: #F1BF7B;
  font-size: 1.3rem;
  font-weight: normal;
}

.pie_pag img, h3 {
  margin-bottom: 2em;
}

.pie_pag__cont1 .pie_pag__logo {
  position: relative;
  width: 10.5em;
}

@media (min-width:320px){
  .pie_pag__cont1 .pie_pag__logo{
    margin-bottom: 1em;
  }
  h3{
    margin-bottom: 1em;
  }
}

.pie_pag__cont1 .link_secc a, .pie_pag__cont1 .pie_pag__text_gen {
  padding: 10px 0;
  color: #F1BF7B;
  font-size: 1rem;
}

.pie_pag__cont2 {
  width: 60%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (min-width:0px) and (max-width:768px){
  .pie_pag__cont1{
    width: 100%;
  }
  .pie_pag__cont2{
    width: 100%;
   }
}

.pie_pag__cont2 .cont_pie_selec {
  margin-bottom: 1em;
  width: 28%;
}

.pie_pag__cont2 div:nth-child(1) {
  padding-left: 1.875em;
}

.pie_pag__cont2 .cont_pie_selec h2 {
  font-family: "Vollkorn-Regular";
  color: #F1BF7B;
  font-size: 1.3rem;
  font-weight: normal;
}

.pie_pag__cont2 .link_secc a, .pie_pag__cont2 .text_gen_pie {
  padding: 10px 0;
  color: #F1BF7B;
  font-size: 1rem;
  text-decoration: none;
}

@media screen and (min-width:0px) and (max-width:1024px){
  .pie_pag__cont1 .link_secc a, .pie_pag__cont1 .pie_pag__text_gen{
    font-size: 0.875rem;
  }
  .pie_pag__cont2 .link_secc a, .pie_pag__cont2 .text_gen_pie{
    font-size: 0.875rem;
    padding: 8px 0;
  }
}

.pie_pag__cont2 .icn {
  width: 32px;
  height: 32px;
  margin-right: 5px;
  background-repeat: no-repeat;
  flex: none;
}

@media (min-width:0px) and (max-width:768px){
  .pie_pag__cont2 div:nth-child(1){
    padding-left: 0em;
  }
  .pie_pag__cont2 .cont_pie_selec{
    width: 100%;
    margin-bottom: 2em;
  }
}

.pie_pag__cont2 .icn.bi_mail {
  background-image: url("../img/imgs_gen/mail.svg");
}
.pie_pag__cont2 .icn.bi_wht {
  background-image: url("../img/imgs_gen/whatsapp.svg");
}
.pie_pag__cont2 .icn.bi_fb {
  background-image: url("../img/imgs_gen/facebook.svg");
}
.pie_pag__cont2 .icn.bi_ig {
  background-image: url("../img/imgs_gen/Instagram.svg");
}
