@mixin flexible($dis, $direction, $justify, $align){
    display: $dis;
    flex-direction: $direction;
    justify-content:$justify;
    align-items: $align;
}

@mixin flexible-3($dis, $direction, $justify){
    display: $dis;
    flex-direction: $direction;
    justify-content:$justify;
}

@mixin flexible_flow($dis, $direction, $corte, $justify, $align){
    display: $dis;
    flex-flow: $direction $corte;
    justify-content:$justify;
    align-items: $align;
}

@mixin flexible_flow-2($dis, $direction, $corte){
    display: $dis;
    flex-flow: $direction $corte;
}

@mixin flexible_flow-3($dis, $direction, $corte, $justify){
    display: $dis;
    flex-flow: $direction $corte;
    justify-content:$justify;
}

@mixin movil($medida:768px){
    @media screen and (max-width:$medida){
        @content;
    }
}

@mixin movil_min($medida:768px){
    @media screen and (min-width:$medida){
        @content;
    }
}

// @mixin minmax($medida1:0px)($medida2:768px){
//     @media screen and (min-width:$medida1) and (max-width:$medida2){
//         @content;
//     }
// }