body {
    font-family: $font-secundary;
    background-color: $background-primary;
    overflow-x: hidden;
}

img {
    display: block;
    width: 100%;
    height: auto;
}
  
input {
    outline: none;
}

ol,ul{
    margin-bottom: 0px;
    padding-left: 0em;
}