/* header */
header {
    position: sticky;
    top: 0;
    width: 100vw;
    max-width: 100%;
    margin: 0 auto;
    z-index: 10;
}

nav.navegacion {
    width: 100%;
    height: auto;
    min-width: 320px;
    background: $background-primary;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.45);
}

nav ul {
    display: flex;
    align-items: center;
    gap: 40px;
}

ul li a {
    color: $color-primary;
    text-decoration: none;
}
/* Fin header */