@font-face {
    font-family: 'Vollkorn-Regular';
    src: url('../fonts/Vollkorn-Regular.otf');
}

@font-face {
    font-family: 'NotoSans-Regular';
    src: url('../fonts/NotoSans-Regular.otf');
}

@font-face {
    font-family: 'NotoSans-Light';
    src: url('../fonts/NotoSans-Light.otf');
    }

@font-face {
    font-family: 'Literata-Regular';
    src: url('../fonts/Literata-Regular.otf');
}
