@font-face {
    font-family: $font-primary;
    src: url('../fonts/Vollkorn-Regular.otf');
}

@font-face {
    font-family: $font-secundary;
    src: url('../fonts/NotoSans-Regular.otf');
}

@font-face {
    font-family: $font-tertiary;
    src: url('../fonts/Literata-Regular.otf');
}

@font-face {
    font-family: $font-quaternary;
    src: url('../fonts/NotoSans-Light.otf');
    }